.card{
    border: 2px solid rgb(232, 227, 227);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    max-width: 370px; 
    /* height: 500px; */
    margin-bottom: 50px;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin-right: 8px;
}
.card>img{
    height: 210px;
    width: 361px;
    overflow: hidden;
}
.details{
    padding: 25px 25px 1.5px 20px;
    display: flex;
    justify-content: space-between;
}
.intro h3{
    letter-spacing: 0.75px;
    color: rgb(69, 69, 164);
}
.intro h1{
    padding-top: 10px;
}
.favButton{
    padding-left: 70px;
}
.favButton>button{
    border-radius: 50%;
    height: 37px;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(185, 85, 85);
    background-color: rgb(251, 251, 251);
}
.add-ons{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.add-ons>div{
    padding-right: 8px;
    padding-left: 10px;
}
.cc{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
hr{
    color: rgb(123, 118, 118);
}