input{
    padding: 5px;
    width: 220px;
    font-size: 15px;
    outline: none;
    border: none;
    border-bottom: 1.5px solid rgb(74, 158, 237);
}
h4{
    font-size: small;
    padding-left: 5px;
    padding-bottom: 5px;
}
hr{
    color: rgb(123, 118, 118);
    /* height:25px; */
}