@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 10px 12px 20px 10px rgba(141, 191, 231, 0.2);
    z-index: 9999;
    position: sticky;
}

/* header tag */
header{
    position: sticky;
    top: 0;
    z-index: 1;
}

/* div containing ul  */
.estate{
    padding-left: 50px;
    font-size: 25px;
    font-family: Dancing Script, Verdana, Geneva, Tahoma, sans-serif;
}

/* className for logo area */
.st{
    color: black;
}

.st:hover{
    color: rgb(98, 98, 182);
}

/* className for li  */
.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    color:  blue;
}

/* right side of navbar  */
.start{
    display: flex;
}
.nav-side{ 
    display: flex;
    list-style-type: none;
    align-items: center;
}
.nav-side>li{
    padding-right: 10px;
    padding-left: 40px;
    font-size: 18px;
    font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}
.nav-side>li:hover{
    transform: translateY(-3px);
}

/* left side of navbar  */
.end{
    display: flex;
    text-decoration: none;
    padding-right: 30px;
}
.nav-end{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.nav-end>li{
    padding-right: 30px;
    font-size: 18px;
    font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}
.nav-end>li:hover{
    transform: translateY(-3px);
}

/* login and signup buttons  */
.login{
    border: 2.5px solid rgba(154, 146, 154, 0.509);
    padding: 5px 10px;
    border-radius: 12px;
    color:  rgb(99, 99, 225);
    text-decoration: none;
}
.signup{
    border: 2.5px solid rgba(154, 146, 154, 0.509);
    padding: 5px 10px;
    border-radius: 12px;
    background-color: rgb(86, 86, 225);
    color: antiquewhite;
    text-decoration: none;
}